<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_51M5Ej5AOiYw02tQNODQIZcVlMHpQwLf8ThvFGt1vB96eAjXxR6jUzKC7ngioFL3SkTXjnmLhyhrSxk6xd2Sw6kHK00FH2Jo0Ew');
    function createCheckoutSession() {
        fetch('/buy/{{ item.pk }}/', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
    }
</script>
<body class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {% block content %}
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Price: ${{ item.price }}</p>
                    <button class="btn btn-primary" onclick="createCheckoutSession()">Buy Now</button>
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
